
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f4f4f4;
        }

        #app {
            text-align: center;
        }

        .vid-container {
            margin-bottom: 20px;
        }

        .player-container {
            margin-bottom: 20px;
        }

        .sound-picker {
            margin-bottom: 20px;
        }

        #time-select {
            display: flex;
            justify-content: space-between;
        }

        .time-display {
            font-size: 24px;
            margin-bottom: 10px;
        }

        .play {
            cursor: pointer;
            font-size: 18px;
        }